<div class="full-width flex column back">
    <div class="banner white bot padding-10px border-box">
        <div class="full-width">
            <h2>The Fragrance <br><span class="light-caramel">Larger Than Life</span></h2>
        </div>
        <div class="flex full-width column gap-1em center-center full-width">
            <img src="../../../assets/images/front-view-men-perfume-dried-tree-branch-isolated-nude-background-free-space-removebg-preview.png" alt="dummy" width="100%">
            <button class="cta" routerLink="/landing/products">Browse Now</button>
        </div>
    </div>
</div>
