<div class="padding-10px border-box flex center-center gap-1em column">
      <h1 class="no-margin">Add New Product</h1>
        <form [formGroup]="adminForm">
          <mat-form-field appearance="fill" class="full-width" color="accent">
            <mat-label>Product Name:</mat-label>
            <input matInput type="text" placeholder="Oud Boukhour" required formControlName="name">
            <mat-error *ngIf="adminForm.get('fullName')?.hasError('required')">
              Product Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width" color="accent">
                <mat-label>Product Description:</mat-label>
                <textarea matInput placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, a. Aliquam, ipsam. Ab numquam, explicabo impedit facere te" required formControlName="description"></textarea>
                <mat-error *ngIf="adminForm.get('email')?.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="adminForm.get('email')?.hasError('email') && !adminForm.get('email')?.hasError('required')">
                  Please enter a valid email address
                </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width" color="accent">
                <mat-label>Select Category</mat-label>
                <mat-select formControlName="category">
            @for (item1 of category; track item1) {
              <mat-option [value]="item1.value">{{item1.viewValue}}</mat-option>
            }
          </mat-select>
                <mat-error *ngIf="adminForm.get('category')?.hasError('required')">
                  Category is <strong>required</strong>
                </mat-error>
          </mat-form-field>
           <form [formGroup]="uploadForm" class="full-width">
            <ng-template matStepLabel>Upload Product Image</ng-template>
            <div class="flex column">
              <input formControlName="file" hidden type="file" required id="upload">
            <button mat-raised-button color="primary" (click)="uploadFile()">
            <label for="upload">Upload Product Image</label>
            </button>
            <div class="flex center-center">
              <span id="file-choosen">{{fileName}}</span>
            </div>
            </div>
        </form>
        <h3>Sizes:</h3>
           <mat-form-field appearance="fill" class="full-width" color="accent">
                <mat-label>Select Volume</mat-label>
                <mat-select formControlName="volume">
            @for (item1 of valume; track item1) {
              <mat-option [value]="item1.value">{{item1.viewValue}}</mat-option>
            }
          </mat-select>
                <mat-error *ngIf="adminForm.get('volume')?.hasError('required')">
                  Volume is <strong>required</strong>
                </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width" color="accent">
            <mat-label>Price:</mat-label>
            <div class="flex full-width gap-1em">
              <p>R</p>
              <input matInput type="text" placeholder="225" required formControlName="price">
            </div>
            <mat-error *ngIf="adminForm.get('price')?.hasError('required')">
              Price is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width" color="accent">
            <mat-label>Quantity:</mat-label>
            <input matInput type="text" placeholder="20" required formControlName="quantity">
            <mat-error *ngIf="adminForm.get('quantity')?.hasError('required')">
              Quantity is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        <div class="flex gap-1em center-center full-width">
            <button button mat-raised-button color="warn" (click)="cancel()" class="half-width">Cancel</button>
            <button button mat-raised-button color="accent" (click)="login()" [disabled]="adminForm.invalid" class="half-width">Add</button>
        </div>
        </form>
</div>