<div class="column full-width flex gap-1em padding-10px border-box">
    <div class="flex gap-05em align-center1 full-width pointer" (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <p>Back</p>
    </div>
    <div class="flex row full-width makeColumn">
        <div class="column flex half-width make100p center-center">
            <img [src]="'http://localhost:6611/api/get-file/' + this.products.image?.id" alt="dummy1" width="100%">
        </div>
        <div class="column flex half-width make100p">
            <div class="flex gap-1em space-between-center">
                <h3 class="text-center">{{this.products.name}}</h3>
                <p>{{fontStyleControl.value}}</p>
            </div>
            <span>Description</span>
            <p>{{this.products.description}}</p>
            <span>Capacity</span><br>
            <mat-button-toggle-group name="fontStyle" [formControl]="fontStyleControl">
                <mat-button-toggle value="R{{this.products.sizes[0].price}}" class="half-width">{{this.products.sizes[0].volume}}</mat-button-toggle>
                <mat-button-toggle value="R550" class="half-width">100 ML</mat-button-toggle>
              </mat-button-toggle-group>
              <p>Chosen ml is {{fontStyleControl.value}}</p>
              <div class="flex center-center">
                <button class="cta" (click)="goToCart()">
                    <span>Add to Cart</span>
                    <mat-icon>shopping_cart</mat-icon>
                </button>
              </div>
        </div>
    </div>
</div>
