.cta {
    background-color: #839a6b;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    gap: .5em;
    align-items: center;
}
