<div class="column full-width flex gap-1em padding-10px border-box">
    <div class="flex end white full-width gap-1em">
        <div class="flex column pointer">
            <h3 class="text-center">All</h3>
         </div>
        <div class="flex column pointer">
           <h3 class="text-center">Female fragrance</h3>
        </div>
        <div class="flex column pointer">
            <h3 class="text-center">Male fragrance</h3>
         </div>
    </div>
    <div class="flex row wrap gap-1em full-width">
        <mat-card class="flex column black width-35p make100p padding-10px border-box border-radius-20px">
            <div class="end flex">
                <h3>From R275 - R550</h3>
            </div>
            <div class="full-width flex center-center">
                <img src="../../../assets/images/Generate_Images_for_Free-removebg-preview.png" alt="dummy1" width="100%">
            </div>
            <div class="flex center-center full-width">
                <div class="half-width">
                    <h3>Oud Boukhour Kyara</h3>
                </div>
                <div class="half-width flex end">
                    <button mat-icon-button class="btn1" matTooltip="View Product" (click)="goToProduct()">
                        <mat-icon>shop</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
</div>
